<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <title>SENATI CRUD - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="font-Helvetica font-light">
    {% include 'Layouts/Components/Navigation.html' %} 
    {% block content %}{% endblock %}
  </body>
</html>
